/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

*{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
    font-family: "Dosis", sans-serif;
}
body{
    color: #1d1d1d;
}


/*Header*/

header{
    box-shadow: 0 0 15px #1a1a1a; 
    display: flex; 
    background-color: #F4ECDB;
    padding-bottom: 3px;
}
nav{
    display: flex;
    padding: 1.5em;
    width: 59.9%;
    margin: 0 auto; 
    align-items: center;
    justify-content: space-between;
}
#logo{
    transition: all .22s ease-in-out;
    margin-top: 5px;
}
#logo:hover{
    transform: scale(1.1);
}
#logo img{
    width: 200px;
}
#entrar_botao{
    background-color: transparent;
    border: 1px solid black;
    right: -12.3em;
    transition: 0.3s;
}
#entrar_botao:hover{
    background-color: rgba(54, 54, 54, 0.041);
}
#entrar_botao img{
    left: 2.2em;
}
#entrar_botao span{
    left: 4em;
}
#criar_botao{
    background-color: #EF797E;
    transition: 0.3s;
}
#criar_botao:hover{
    background-color: #e27981;
}
.botoes_nav{
    text-decoration: none;
    color: black;
    font-size: 21px;
    border-radius: 1.5em;
    position: relative;
    width: 180px;
    height: 30px;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
.botoes_nav img{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 1.4em;
}
.botoes_nav span{
    position: absolute;
    left: 3.1em;
}

/*Main*/

main{
    background-image: url(imagens/fundo.png);   
    padding-bottom: 3em;
}

.anuncio {
    padding: 10em;
    padding-right: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 4em;
    background-color: black;
}
.anuncio::before{
    content: " ";
    position: absolute;
    left: 0;
    top: 99.8px;
    width: 100%;
    height: 100%;
    max-height: 39.15em;
    filter: opacity(80%);
    background-image: url(imagens/banner_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}   

.anuncio h1 {
    font-size: 3em;
    font-weight: bold;
}

.anuncio p{
    font-size: 1.9em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.anuncio p span{
    font-weight: bold;
}
.anuncio a{
    background-color: #f18a8f;
    border-radius: 50px;
    display: flex;
    line-height: 40px;
    justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    width: 250px;
    text-decoration: none;
    gap: 4px;
    color: black;
    transition: 180ms;
}
.anuncio a:hover{
    background-color: #EF797E;
}
#div_banner{
    width: 59.9%;
    margin: 0 auto;
    color: #FFFFFF;
    z-index: 1;
}
img[src="imagens/run.svg"] {
    width: 30px;
    margin-right: 10px;
}

img[src="imagens/calendario.svg"] {
    width: 400px;
}

.sobre{
    display: flex;
    width: 100%;
    max-width: 59.9%;
    margin: 0 auto;
    margin-bottom: 7em;
}
.sobre img{
    width: 500px;
}
.sobre div p{
    font-size: 1.5em;
    padding: 1em;
    text-align: left;
    background-color: #ef797f79;
    border: none;
}
/*#linha_horizontal{
    margin: 0 auto;
    margin-top: 6em;
    margin-bottom: 6em;
    width: 100%;
    border-top: 1px solid rgb(49, 49, 49);
}*/

.planejamento{
    margin-bottom: 5em;
}
.planejamento h1{
    padding: 1em;
    padding-top: 0;
    font-weight: 630;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}
#diferencial{
    display: flex;
    justify-content: space-between;
    width: 59.9%;
    margin: 0 auto;
}
#diferencial div img {
    width: 60px;
    height: 80px;
}
#diferencial div h2{
    margin-top: 0.6em;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 1em;
}
#diferencial div p{
    font-size: 20px;
    margin-bottom: 1em;
}
#diferencial div{
    text-align: center;
    background-color: rgb(255, 249, 245);
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    width: 250px;
    height: 350px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/*Footer*/

footer{
    font-size: 20px;
    background-color: #F4ECDB;
}
footer address{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
    width: 59.9%;
    margin: 0 auto;
    padding: 2em;
}
address a img{
    height: 30px;
    transition: all .10s ease-in-out;
}
address a img:hover{
    transform: scale(1.1);
}
#redes_sociais a{
    margin-left: 0.8em;
}